body {
  --green: #1ABC9C;
  --yellow: #FFC107;
  --purple: #c107ff;
  margin: 0;
}

.app {
  height: 100vh;
}

nav {
  background-color: var(--purple);
  height: 10vh;

}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.logo-image-container {
  margin-right: 10px;
}

.logo-image-container img {
  width: 40px;
}

.logo-header h1 {
  color: white;
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 22px;
}

/* SPLIT STYLES */
.split {
  display: flex;
}

.gutter {
  background-color: rgb(184, 184, 184);
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: ew-resize;
}

/* SIDEBAR STYLES */
.sidebar-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow);
}

.sidebar-header {
  width: 100%;
}

.sidebar-header h1 {
  text-align: center;
  font-family: 'Rubik Mono One',
    cursive;
  font-size: 1rem;
  color: var(--purple);

}

.sidebar-header-container .new-note button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  border-radius: 5px;
  margin-right: 1rem
}

.sidebar-header-container .new-note button:active {
  transform: scale(0.9);
}

.sidebar .note {
  height: 30px;
  border-bottom: 1px solid red;
  cursor: pointer;
  padding-left: 10px;
}

.sidebar .note p {
  margin: 0px;
}

.selected {
  background-color: var(--green);
  color: white;
}

@media only screen and (max-width: 400px) {
  .logo-container {
    padding-left: 20px;
  }

  .sidebar-header-container {
    padding: 0px 5px;
  }

  .sidebar-header h1 {
    font-size: 15px;

  }

  .sidebar-header-container .new-note {
    margin-bottom: 3px;
  }

  .sidebar-header-container .new-note button {
    font-size: 10px;
  }

}