html,
body {
  height: 100vh;
}

body {
  --green: #1ABC9C;
  --yellow: #FFC107;
  --dark-teal: rgb(0, 42, 61);
  margin: 0;
}

div.app {
  font-family: 'Rubik';
}

/* div.app div.background-animation {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%
} */

nav {
  background-color: var(--dark-teal);
}

div.logo-container {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

div.logo-image-container {
  margin-right: 10px;
}

div.logo-image-container img {
  width: 40px;
}

div.logo-header h1 {
  color: white;
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 22px;
}

/* WELCOME SCREEN STYLES */
.welcome-screen-container {
  background-image: url('./assets/bg-blob.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;

}

div.welcome-screen {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* background-image: url('./assets/bg-blob-1.svg'); */
  /* padding: 50px; */
  /* padding-top: 2%; */
}

div.welcome-screen h1 {
  /* margin: 10px; */
  color: white;
  text-shadow: 2px 2px var(--green)
}

div.welcome-screen-animation {
  width: 90%;
}

div.welcome-screen button.new-note-button {
  height: 40px;
  width: 100px;
  margin: 20px;
  cursor: pointer;
  background-color: var(--green);
  color: var(--dark-teal);
  font-size: 15px;
  font-family: 'Rubik';
  border-radius: 8px;
  border: none;
  /* text-shadow: 1px 1px var(--yellow); */
}

div.welcome-screen button.new-note-button:hover {
  transition: background-color 0.2s linear;
  background-color: var(--yellow);
}

/* SPLIT STYLES */
div.split {
  display: flex;
}

.gutter {
  background-color: rgb(184, 184, 184);
  background-repeat: no-repeat;
  background-position: center;
  height: 89vh;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: ew-resize;
}

/* SIDEBAR STYLES */
div.sidebar {
  height: 89vh;
  overflow-y: auto;
  /* background-image: url('./assets/sun-tornado.svg'); */
  background-repeat: no-repeat;
  background-size: cover;

}

div.sidebar-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow);
}

div.sidebar-header {
  width: 100%;
}

div.sidebar-header h1 {
  text-align: center;
  font-family: 'Rubik Mono One',
    cursive;
  font-size: 1rem;
  color: var(--dark-teal);

}

div.sidebar-header-container div.new-note button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: var(--dark-teal);
  color: white;
  border-radius: 5px;
  margin-right: 1rem
}

div.sidebar-header-container div.new-note button:active {
  transform: scale(0.9);
}

div.sidebar div.note {
  height: 50px;
  border-bottom: 1px solid var(--dark-teal);
  cursor: pointer;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

div.sidebar div.note p.note-title {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.sidebar div.trash-icon {
  width: 20px;
  height: 20px;
  display: none;
  background-color: white;
  border-radius: 40%;
  padding: 2px;
}

div.sidebar div.note:hover div.trash-icon {
  display: block;
}

.selected {
  background-color: var(--dark-teal);
  color: white;
}

section.editor div.mde-header {
  background-color: var(--yellow);
}

section.editor div.mde-header div.mde-tabs button:hover,
section.editor div.mde-header ul.mde-header-group button:hover {
  color: white;
  background-color: var(--dark-teal);
}

section.editor div.mde-header div.mde-tabs button {
  font-family: 'Rubik';

  color: black;
  border-radius: 5px;
}

section.editor div.mde-header div.mde-tabs button.selected {
  background-color: var(--dark-teal);
  color: white;
}

@media only screen and (max-width: 700px) {
  div.welcome-screen {
    padding-top: 100px;
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  div.logo-container {
    padding-left: 20px;
  }

  div.welcome-screen {
    width: 250px;
  }

  div.sidebar-header-container {
    padding: 0px 5px;
  }

  div.sidebar-header h1 {
    font-size: 15px;

  }

  div.sidebar-header-container div.new-note {
    margin-bottom: 3px;
  }

  div.sidebar-header-container div.new-note button {
    font-size: 10px;
  }

}